
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <div class="comment-box" onclick="">
        <p> Comment By:  <i> <b>  @ViewData["item2"] </b> </i>  </p>
        <p> Description:   @ViewData["item1CommentText"] </p>
        <p> @ViewData["item1CommentDate"] </p>
    </div>