
@{
    Layout = null;
}

@model ClassPageModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomePage</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
        .post-container {
            border: 1px solid black;
            width: 500px;
            cursor: pointer;
            margin: 15px auto;
            padding: 10px;
        }

        nav {
            background-color: #f1f1f1;
            padding: 10px;
        }

            nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            nav li {
                float: left;
            }

            nav a {
                display: block;
                color: black;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                nav a:hover {
                    background-color: #ddd;
                    color: black;
                }

        .container {
            border: 3px solid black;
            border-radius: 20px;
            margin: 10px;
            height: 33vh;
            width: 95vw;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            position: relative;
        }

        .bottom-left {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 2em;
        }

        .announce-box {
            background-color: lightblue;
            padding: 10px;
            cursor: pointer;
            width: 250px;
            text-align: center;
            border-radius: 5px;
            margin: 20px auto;
        }

        #inputBox {
            display: none;
            width: 250px;
            padding: 20px;
            text-align: center;
            background-color: lightgrey;
            border-radius: 5px;
            margin: 20px auto;
        }

        input[type="text"] {
            width: 200px;
            padding: 10px;
            margin-bottom: 20px;
        }
    </style>

</head>
<body>
    <!-- HTML for the navigation bar -->
    <nav>
        <ul>
            <li><a asp-controller="Student" asp-action="HomePage">Stream</a></li>
            <li><a asp-action="GetStudentFiles" asp-controller="Classroom">Classwork</a></li>
            <li><a asp-action="ShowPeople" asp-controller="Classroom">People</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2 class="bottom-left" id="className">@Model.Classroom.Name</h2>

        <h4 class="bottom-left">@Model.Classroom.Description</h4>
    </div>



    @foreach (var r in Model.Posts)
    {


        <div class="post-container" onclick="sendPostId(`@r.Id`) ">
            <p>  @r.PostText  </p>
            <p> @r.PostDate </p>
        </div>
    }

    <!-- CSS to style the navigation bar -->

</body>
<script>
      function showInput() {
        document.getElementById("inputBox").style.display = "block";
                }

     $(document).ready(function() {
         $("#submitButton").click(function () {
             var text = $("#myText").val();
             console.log(text);
             var cName = $("#className").val();
             console.log(cName);

             window.location.href = "/Post/InsertPost?text=" + text;
        });
     });
    function sendPostId(postId) {
        window.location.href = "/Classroom/ShowComments?postId=" + postId;

    }

</script>

</html>
